.products {
  margin-top: 1%;
  margin-bottom: 6%;

  h2 {
    font-size: 1.7rem;
    letter-spacing: 3px;
  }

  ul {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card-product {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      flex-wrap: wrap;
      border: 2px solid rgba(108, 136, 136, 0.74);
      padding: 20px;
      gap: 10px;

      h3 {
        width: 200px;
        font-size: 1.2rem;
        letter-spacing: 2px;
        text-align: center;
        padding-bottom: 10px;
      }

      .category,
      .stock {
        font-size: 0.6rem;
        opacity: 0.5;
      }

      .description {
        width: 300px;
        text-wrap: pretty;
        font-size: 0.8rem;
        font-weight: 500;
        color: rgba(108, 136, 136, 0.74);
      }

      .price-stock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 10px;
      }

      .price {
        font-weight: 600;
      }
    }
  }
}

.info-principal {
  display: flex;
  flex-direction: column;
  align-items: center;

  .thumbnail {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
  }
}

.isProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  text-align: center;
  font-size: 1rem;
}

.haveSureDelete {
  text-align: center;
  margin-bottom: 2%;
}

.delete-form {
  input {
    background-color: rgb(20, 20, 20);
    color: rgba(255, 255, 255, 0.527);
    cursor: default;
  }
}

.btn-product {
  display: flex;
  justify-content: space-between;
  justify-items: end;
  align-items: center;
}
