<h1>{{title}}</h1>

<form action="../api/products" method="post">
  <label for="title">Título</label>
  <input type="text" id="title" name="title" />

  <label for="description">Descrição</label>
  <input type="text" id="description" name="description" />

  <label for="price">Preço</label>
  <input type="text" id="price" name="price" />

  <label for="code">Código</label>
  <input type="text" id="code" name="code" />

  <label for="stock">Estoque</label>
  <input type="text" id="stock" name="stock" />

  <label for="category">Categoria</label>
  <input type="text" id="category" name="category" />

  <button type="submit">Enviar</button>
</form>

{{! Adicionar foto é outro form }}
